            * {
                margin: 0;
                padding: 0%;
                box-sizing: border-box;
            }
            
            #intro {
                background: url(https://images01.nicepage.com/7d/49/7d49b53f35a91fd08931b8dfa9ae7ac9.png) no-repeat center center fixed;
                background-repeat: no-repeat;
                background-position: cover;
                background-size: 100% 100%;
                padding-bottom: 420px;
            }
            
            .content {
                color: #fff;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding-top: 170px;
            }
            
            .lite-content {
                color: #fff;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
                display: block;
            }
            
            #bg-content {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.5));
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: 100% 100%;
                color: white;
            }
            
            .img-sec {}